<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isNone</key>
		<false/>
		<key>title</key>
		<string>李艺彤因吹斯听赚了87积分</string>
		<key>titleWidth</key>
		<real>173.69816406250001</real>
		<key>userImg</key>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3207276444,2853363186&amp;fm=27&amp;gp=0.jpg</string>
		<key>width</key>
		<real>228.69816406250001</real>
	</dict>
	<dict>
		<key>isNone</key>
		<false/>
		<key>title</key>
		<string>黄家帮乖喵赚了46积分</string>
		<key>titleWidth</key>
		<real>146.14988281250001</real>
		<key>userImg</key>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=240714606,1267742884&amp;fm=27&amp;gp=0.jpg</string>
		<key>width</key>
		<real>201.14988281250001</real>
	</dict>
	<dict>
		<key>isNone</key>
		<false/>
		<key>title</key>
		<string>瑜颜无双兔萌萌i赚了34积分</string>
		<key>titleWidth</key>
		<real>177.86125000000001</real>
		<key>userImg</key>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=4071769206,1382282299&amp;fm=27&amp;gp=0.jpg</string>
		<key>width</key>
		<real>232.86125000000001</real>
	</dict>
	<dict>
		<key>isNone</key>
		<false/>
		<key>title</key>
		<string>Jun涛团团赚了19积分</string>
		<key>titleWidth</key>
		<real>138.53519531250001</real>
		<key>userImg</key>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1020514050,3688618162&amp;fm=27&amp;gp=0.jpg</string>
		<key>width</key>
		<real>193.53519531250001</real>
	</dict>
	<dict>
		<key>isNone</key>
		<false/>
		<key>title</key>
		<string>震南我好方赚了14积分</string>
		<key>titleWidth</key>
		<real>143.75730468750001</real>
		<key>userImg</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1309860949,2926952524&amp;fm=27&amp;gp=0.jpg</string>
		<key>width</key>
		<real>198.75730468750001</real>
	</dict>
	<dict>
		<key>isNone</key>
		<false/>
		<key>title</key>
		<string>wuli艺彤我好方赚了3422积分</string>
		<key>titleWidth</key>
		<real>188.00632812500001</real>
		<key>userImg</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1944803810,2151330681&amp;fm=27&amp;gp=0.jpg</string>
		<key>width</key>
		<real>243.00632812500001</real>
	</dict>
	<dict>
		<key>isNone</key>
		<false/>
		<key>title</key>
		<string>周震南思密达i赚了1132积分</string>
		<key>titleWidth</key>
		<real>175.78339843750001</real>
		<key>userImg</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2626198443,3438980370&amp;fm=27&amp;gp=0.jpg</string>
		<key>width</key>
		<real>230.78339843750001</real>
	</dict>
	<dict>
		<key>isNone</key>
		<false/>
		<key>title</key>
		<string>黄家帮等你来赚了648积分</string>
		<key>titleWidth</key>
		<real>169.22089843750001</real>
		<key>userImg</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1893490312,3845901077&amp;fm=27&amp;gp=0.jpg</string>
		<key>width</key>
		<real>224.22089843750001</real>
	</dict>
	<dict>
		<key>isNone</key>
		<false/>
		<key>title</key>
		<string>黄婷婷梦甜馨 赚了2485积分</string>
		<key>titleWidth</key>
		<real>180.86250000000001</real>
		<key>userImg</key>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2849980803,3862694567&amp;fm=27&amp;gp=0.jpg</string>
		<key>width</key>
		<real>235.86250000000001</real>
	</dict>
	<dict>
		<key>isNone</key>
		<false/>
		<key>title</key>
		<string>一天萌哒哒得小学渣i赚了2148积分</string>
		<key>titleWidth</key>
		<real>221.26890625000001</real>
		<key>userImg</key>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=4191719839,3395406198&amp;fm=27&amp;gp=0.jpg</string>
		<key>width</key>
		<real>276.26890624999999</real>
	</dict>
	<dict>
		<key>isNone</key>
		<false/>
		<key>title</key>
		<string>Jing瑜小心心赚了654积分</string>
		<key>titleWidth</key>
		<real>167.45777343750001</real>
		<key>userImg</key>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=4189515495,1985477818&amp;fm=27&amp;gp=0.jpg</string>
		<key>width</key>
		<real>222.45777343750001</real>
	</dict>
	<dict>
		<key>isNone</key>
		<false/>
		<key>title</key>
		<string>一天小可爱赚了3773积分</string>
		<key>titleWidth</key>
		<real>161.49656250000001</real>
		<key>userImg</key>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1041093096,217101235&amp;fm=27&amp;gp=0.jpg</string>
		<key>width</key>
		<real>216.49656250000001</real>
	</dict>
	<dict>
		<key>isNone</key>
		<false/>
		<key>title</key>
		<string>李Yi彤乖喵赚了115积分</string>
		<key>titleWidth</key>
		<real>147.83863281250001</real>
		<key>userImg</key>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2575677210,8390870&amp;fm=27&amp;gp=0.jpg</string>
		<key>width</key>
		<real>202.83863281250001</real>
	</dict>
	<dict>
		<key>isNone</key>
		<false/>
		<key>title</key>
		<string>柾国猴赛雷赚了4293积分</string>
		<key>titleWidth</key>
		<real>163.08250000000001</real>
		<key>userImg</key>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3556841766,2769368038&amp;fm=27&amp;gp=0.jpg</string>
		<key>width</key>
		<real>218.08250000000001</real>
	</dict>
	<dict>
		<key>isNone</key>
		<false/>
		<key>title</key>
		<string>T柾Guo碧玉赚了2725积分</string>
		<key>titleWidth</key>
		<real>168.08011718750001</real>
		<key>userImg</key>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3886015850,18513776&amp;fm=27&amp;gp=0.jpg</string>
		<key>width</key>
		<real>223.08011718750001</real>
	</dict>
</array>
</plist>
